<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="testng" parallel="tests" thread-count="3">
	<test name="Chrome">
		<parameter name="driverInstance" value="Chrome" />
		<parameter name="udid" value="" />
		<classes>
			<class name="com.lambdatest.scripts.LambdaTestPlaygroundTest" />
		</classes>
	</test>
	<test name="Edge">
		<parameter name="driverInstance" value="Edge" />
		<parameter name="udid" value="" />
		<classes>
			<class name="com.lambdatest.scripts.LambdaTestPlaygroundTest" />
		</classes>
	</test>
	<test name="Firefox">
		<parameter name="driverInstance" value="Firefox" />
		<parameter name="udid" value="" />
		<classes>
			<class name="com.lambdatest.scripts.LambdaTestPlaygroundTest" />
		</classes>
	</test>
</suite>